/* TODO Add site wide styles */

button:hover {
    cursor: pointer;
}

.outside {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    /* background-color: red; */
}

.body-container-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* background-color: blue; */
    /* padding-right: 10%; */
    max-width: 90%;
}

.review-section {
    width: 80%;
}

#modal-content {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35rem;
    background-color: white;
    box-shadow: 0 0 2px rgba(10, 0, 10, 0.30);
}

.create-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: white;
}
.login-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.signup-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.create-reviewform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: white;
}


.update-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    background-color: white;
    /* box-shadow: 0 0 2px rgba(10, 0, 10, 0.30); */
}

.input-box {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: thin thin thin 1em;
}

.input-fields {
    /* width: max-content; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    /* margin: 1rem; */
    border-radius: 0.5rem;
}

form > button {
    width: 100%;
    color: white;
    background-color: rgb(227, 38, 69);
    border-radius: .5rem;
    bottom: 2rem;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* .card-container {
    display: flex;
    flex-direction: column;
} */

.spotDetailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailsImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 50rem;
    font-weight:bolder

}

.name {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 50rem;
    font-weight:bolder;
    font-size:xx-large
}

.location {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    justify-content: space-between
}

.update-button {
    display: flex;
    /* width: 50rem; */
    /* justify-content: flex-end; */
    /* margin-bottom: 10px; */


}
