/* TODO Add site wide styles */

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    flex-wrap: wrap;
    /* background-color: blue; */
    /* padding-top: 1rem; */

}

.body-container-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* border: 50px solid firebrick; */
    align-content: center;

    justify-content: center;
    margin: 0;
    /* padding-top: 5rem; */
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}




#modal-content {

    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 35rem;
    background-color: white;
    box-shadow: 0 0 2px rgba(10, 0, 10, 0.30);
    /* height: max-content; */
}

.create-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    background-color: white;
}
.login-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    background-color: white;
}

.signup-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    background-color: white;
}


.update-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    background-color: white;
    /* box-shadow: 0 0 2px rgba(10, 0, 10, 0.30); */
}

.input-box {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: thin thin thin 1em;

}

.input-fields {
    /* width: max-content; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    /* margin: 1rem; */
    border-radius: 0.5rem;
}

form button {
    width: 100%;
    color: white;
    background-color: rgb(227, 38, 69);
    border-radius: .5rem;
    bottom: 2rem;
    height: 2.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* .card-container {
    display: flex;
    flex-direction: column;
} */
