/* TODO Add site wide styles */
#root {
    /* min-width: 1080px; */
    max-width: 100vw;
    overflow-x: hidden;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
  padding-bottom: 3.5rem;    /* Footer height */
}

button:hover {
    cursor: pointer;
}

.outside {
    max-width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.body-container {
    width: 100%;
    /* max-width: 1460px; */
    /* min-width: 703px; */
    display: flex;
    flex-direction: row;
    /* padding-left: 10%; */
    /* background-color: red; */
}

.body-container-items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    /* background-color: blue; */
    /* padding-right: 10%; */
    /* max-width: 90%; */
}
/* .body-container-items a {
    max-width: 25%;
} */

#review-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    /* width: 100%; */
    align-items: center;
}

.review-section {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* max-width: 100%; */
    /* justify-content: center; */
    /* max-height: 100rem; */
    /* overflow: scroll; */
    /* background-color: red; */
}


#spot-show-left {
    width: 55%;
}
#spot-show-right {
    display: flex;
    width: 40%;
    justify-content: center;
}


.entire-review-container {
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    /* height: auto; */
    /* max-height: 400px; */
    width: 100%;
    /* overflow: hidden; */
}

.bigger-review-container {
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

}

.individual-reviews-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 100%;
    width: 100%;
    max-width: 90%;

}

.review-top {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.review-top-nd {
    display: flex;
    flex-direction: column;
    margin: 0;
    /* gap: 5px; */
}

@media screen and (max-width: 1230px) {
    #review-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: normal;
    }
}
@media screen and (max-width: 960px) {
    .review-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    #spot-show-left {
        width: 100%;
    }
    #spot-show-right {
        width: 100%;
    }
    /* .bigger-review-container { */

        /* display: flex;
        width: 100%;
        flex-direction: column;
        grid-auto-rows: auto;
        justify-items: center;
        margin-left: 20px;
        margin-right: 20px; */
    /* } */

    /* .detailed-description {
        margin-left: 20px;
        margin-right: 20px;
    } */
}
.p-review {
    font-size: medium;
    max-height: 60%;
    overflow-y: auto;

}

.p-review::-webkit-scrollbar {
    display:none;
}

/* .individual-reviews-container p {
    display: flex;
    flex-direction: column;
} */

#modal-content {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* width: 80%;
    height: 85%; */
    max-height: 95%;
    background-color: white;
    box-shadow: 0 0 2px rgba(10, 0, 10, 0.30);
    object-fit: contain;
    padding: 2%;
}

.error-lists {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    gap: 1rem;
    color: red;
    font-weight: bold;

}

.create-spotform {
    width: 100%;
    /* max-height: 600px; */
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    background-color: white;
}


.login-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    background-color: white;
}

.signup-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    background-color: white;
}

.create-reviewform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    background-color: white;
}


.update-spotform {
    width: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */

    background-color: white;
    /* box-shadow: 0 0 2px rgba(10, 0, 10, 0.30); */
}

.input-box {
    width: 90%;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    border-width: thin thin thin 1em;
    /* background-color: red; */
    /* overflow-wrap: break-word; */
}

.input-fields {
    /* width: max-content; */
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    /* margin: 1rem; */
    border-radius: 0.5rem;
    border-color: black;
    border-width: 2px;
    font-family: inherit;
    font-size: inherit;
    overflow: scroll;
    /* flex-wrap: wrap;
    overflow-wrap: break-word; */
}

.input-fields::-webkit-scrollbar {
    display: none;
}

div > button {
    border-radius: 1rem;
    border-style: none;
    background-color: white;
    font-weight: bold;
    transition: .5s;
    padding-top: .75rem;
    padding-bottom: .75rem;
    /* color: #999999; */
    font-size: large;
    /* box-shadow: 0px 0px 15px -5px; */
}

form > button {
    width: 90%;
    color: white;
    background-color: #FF5A5F;
    border-radius: .5rem;
    bottom: 2rem;
    min-height: 2.5rem;
    padding-top: 5px;
    font-size: large;
    font-weight: bold;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
}

#form-button {
    width: 90%;
    color: white;
    background-color: #FF5A5F;
    border-radius: .5rem;
    bottom: 2rem;
    min-height: 2.5rem;
    /* padding-top: 5px; */
    border-width: 2px;
    border-style: solid;

}

.home-submit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FF5A5F;
    width: 90%;
    border-radius: 0.5rem;
    height: 50px;

}

.home-submit-button button {
    background-color: #FF5A5F;
    color: white;
}

.reserve-button-container {
    display: flex;
    /* background-color: red; */
    height: 40% ;
    width: 100%;

}

.reserve-button {
    width: 100%;
    border-radius: 0%;
    list-style: none;
    /* background-color: blue; */
}

.reserve-button button {
    color: white;
    border-style: none;
    border-radius: 0%;


}

.create-review-button button {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: lightgray;
    transition: .5s;
}

.create-review-button button:hover {
    background-color: lightslategray;
}

.listing-part button:hover {
    background-color: lightgray;
    padding-top: .75rem;
    padding-bottom: .75rem;
}


.spotDetailsContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    /* background-color: blue; */
    height:fit-content;
    width: 100%;
    /* margin-left: 5%; */
    margin-right: 5%;
    /* width: fit-content; */
    /* max-width: 1250px; */
}


.large-card-container {
    /* background-color: rgba(255, 255, 255, 0.56); */
    display: flex;
    align-items: center;
    /* max-width: 1244px; */
}

.detailsImage {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.rating-container {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 50rem;
    /* font-weight:bolder; */
    /* font-size: xx-large; */
    gap: 5px;
    align-items: center;

}

.name {
    display: flex;
    flex-direction: row;
    max-width: 1222px;
    width: 100%;
    font-weight:bolder;
    font-size:xx-large;
    /* background-color: red; */
    /* justify-content: center; */
    /* justify-items: start; */
}
#name {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: flex-start; */
    align-items: center;
}

.location {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1222px;
    /* background-color: purple; */
    /* justify-items: flex-start; */
    justify-content: space-between
}
#location {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
}


#footer {
    position: relative;
    bottom: 0;
    /* width: 100vw; */
    height: 7.5rem;            /* Footer height */
    background-color: #f7f7f7;
    background-color: #FF5A5F;
    color: black;
    /* margin-top: 20px; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 14px;
    /* width: 100%; */
    /* margin-top: 6rem; */
    font-size: 18px;
}

#Footer-div {
    display: flex;
    /* min-height: 100vh; */
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 10px; */
}

#dev {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#dev div {
    font-weight: bold;
    margin-bottom: 5px;
}

#dev a {
    color: rgb(231, 92, 194);
    color: white;
    text-decoration: none;
    margin: 2px;
}

#dev a:hover {
    text-decoration: underline;
}

#not-allowed:hover {
    cursor: not-allowed;
}

.user-menu button:hover {
    box-shadow: 0 0 2px rgba(10, 10, 10, 0.70);
    box-shadow: 0px 0px 15px -5px;
}
