.card-container {
    display: flex;
    flex-direction: column;
    justify-items: center;

    /* max-width: 16rem; */
    height: 22rem;
    overflow: hidden;
    flex-grow: 1;
    /* box-shadow: 0px 0px 15px -5px; */
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* border-radius: 20px; */
    background-color: white;
    /* background-color: blue; */

    /* padding-left: 1rem; */
}


.large-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.image-container img {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
    height: 200px;
    max-height: 300px;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 1rem;
    width: 16rem;
    max-width: 16rem;
    /* max-width: 60%; */

}
.large-image-container img {
    overflow: hidden;
    border: 5px black;
    height: 30rem;
    width: 50rem;
    border-radius: 1rem;

}

.spotDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.card-container:hover {
    transform: scale(1.1);
}



.card-title {
    padding-left: 1rem;
    font-size: small;
    color: black;
}

.card-body {
    padding-left: 1rem;
    font-size: larger;
    font-weight: bold;
    color: black;
}




.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}


.spot-body{
    display: flex;
    justify-content: space-between;

}

.body-container-items {
    display: flex;
}

hr {
    display: flex;
    width: 50rem
}
