.card-container {
    display: flex;
    flex-direction: column;
    justify-items: center;

    /* max-width: 16rem; */
    /* height: 22rem; */
    overflow: hidden;
    flex-grow: 1;
    /* box-shadow: 0px 0px 15px -5px; */
    transition: 0.5s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* border-radius: 20px; */
    background-color: white;
    /* background-color: blue; */

    /* padding-left: 1rem; */
}


.image-container img {
    display: flex;
    overflow: hidden;
    height: 270px;
    width: 250px;
    flex-grow: 1;
    max-height: 300px;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 1rem;
    /* max-width: 100%; */
    /* max-height: 100%; */
    object-fit: fill;

}

.large-card-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.all-images-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */

    /* align-content: center; */
    /* object-fit: fill; */
    /* justify-content: center; */
    /* flex-direction: row; */
    /* justify-content: flex-start; */
    /* justify-items: center; */
    /* overflow: visible; */
    padding-top: 25px;
    padding-bottom: 25px;
    /* background-color: black; */
    /* object-fit: fill; */
    /* flex-shrink: inherit; */

}


.large-image-container {
    height: 100%;
    width: 50%;
    /* background-color: red; */
    object-fit: fill;
}

.large-image-container img {
    width: 100%;
    height: 412px;
}



.extra-images-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 412px;
    justify-content: flex-start;
    /* background-color: blue; */
    /* justify-content: space-evenly; */
}

.extra-images-container img {
    max-width: 50%;
    height: 198px;
    object-fit: fill;
    /* padding: 1px; */
    /* padding-left: 4px; */
    border-style: solid;
    border-color: white;
    padding-top: 2px;
    /* border-top: 5px; */
    /* border-bottom: 5px; */


}


/*
.spotDetailsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
} */

.card-container:hover {
    transform: scale(1.1);
}



.card-title {
    display: flex;
    justify-content: space-between;
    /* padding-left: 1rem; */
    font-size: small;
    color: black;
}

.card-body {
    /* padding-left: 1rem; */
    font-size: larger;
    font-weight: bold;
    color: black;
}




.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
}


.spot-sub-info {
    display: flex;
    justify-content: row;
}

.spot-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
    height: fit-content;

}


.reserve-button-container {
    display: flex;
    /* background-color: red; */
    height: 40% ;
    width: 100%;
}



.reserve-container {
    width: 45%;
    display: flex;
    justify-content: center;
    /* background-color: pink; */

}

.reserve-box {
    /* background-color: gray; */
    width: 80%;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 0px 0px 15px -5px;
}

.reserve-info {
    /* background-color: yellow; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;



}

.reserve-price {
    /* width: 50%; */
    display: flex;
    /* background-color: blue; */
    font-size: xx-large;
    justify-content: center;

}

.rating {
    display: flex;
    width: 50%;
    justify-content: center;
    gap: 6px;
    /* padding-right: 5px; */
}

.body-container-items {
    display: flex;
}

.reserve-button {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-wrap: wrap;
    width: 100%;

}

.reserve-button button {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    /* color: red; */
    align-items: center;
    font-size: x-large;
}

hr {
    display: flex;
    width: 50rem
}
