/* .profile-dropdown {
    display: flex;
    flex-direction: column;
} */
.hidden {
    display: none;
}


 /* {
    box-sizing: border-box;
}  */

body {
    margin: 0;
    padding: 0;
    background-color: white;
}


/* .navStart {
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    contain-intrinsic-height: 80px;
    z-index: 100;
    contain: size style layout;
    background-color: white;
} */
.navStart {
/* background-color: red; */
/* align-content: center; */
display: flex;
justify-content: center;
}

.navbar {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    align-items: center;
    /* align-content: center; */
    flex-direction: row;
    justify-content:space-between;
    /* padding-left: 10rem; */
    /* padding-right: 8%; */
    /* padding-left: 10rem; */
    color: white;
    height: 100px;
    border: solid;
    border-bottom: 2px solid rgba(128, 128, 128, 0.408);
    padding-left: 10%;
    padding-right: 9%;

}

.nav-modals  {
    display: flex;


    /* padding: 4rem; */
    flex-direction: row-reverse;
    font-size: normal;
    color: #FF5A5F;
    height: 35px;
    display: flex;
    align-items: center;
    /* border-radius: 1rem; */
    /* padding-right: 10%; */
    /* background-color: red; */


}

li > button {
    display: flex;
    color: white;
    background-color: gray;
    border-radius: 1rem;
}

.list-button {
    display: flex;
    justify-content: center;
}



.user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;

}

.user-menu > button {
    font-size: normal;
    color: #999999;
    background-color: white;
    height: 35px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 0px 0px 15px -5px;
}

 .profile-dropdown {
    position: absolute;
    top: 4rem;
    list-style: none;
    background-color: white;
    box-shadow: 0 0 2px rgba(10, 0, 10, 0.30);
    border-radius: 1rem;
    width: 12rem;
    max-width: 12rem;
    padding: 1rem;
    overflow: hidden;
    z-index: 100;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
}



.fa-brands {
    color: #FF5A5F;

}

/* removes underline from sanctury and logo */
a:link {
    text-decoration: none;
}
