/* .profile-dropdown {
    display: flex;
    flex-direction: column;
} */
.hidden {
    display: none;
}


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    padding-left: 20px;
}

.navbar {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
    color: white;
    height: 100px;
    border: solid;
    border-bottom: 2px solid rgba(128, 128, 128, 0.408);
    margin-bottom: 1rem;
}

.nav-modals div{
    display: flex;
    padding: 20px;
    flex-direction: row-reverse;
    justify-content: space-between;

}
